*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #1f2535;
    color: aliceblue;
    transition: background 0.3s, color 0.3s;
}
.dark{
    background-color: #121212;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.parent{
    display: flex;
    flex-direction: column;
    margin: 3rem 3rem;
}
.parent > .header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #4b4c4f;
    color: #fff;
    border-radius: 10px;
}
.header > .header > h4{
    font-size: 10px;
}
.header > h4 > i{
    color: #ed5d52;
}
.parent > .tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parent > .tabs > .statusButtons{
    display: flex;
    gap: 1rem;
}
.parent > .tabs > .statusButtons > button{
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #2d3349;
    color: #ffff;
    cursor: pointer;
    width: 5rem;
}
.parent > .tabs > .statusButtons > button:first-child{
    background-color: #ed5d52;
    color: #000;
}
#extensions{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: linear-gradient(to bottom, #050a1d, #0a1640);
    color: #fff;
    padding: 2rem;
    gap: 1rem;
}
#extensions > div{
    background-color: #1f2535;
    padding: 20px;
    border-radius: 20px;
    .btnIcon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ed5d52;
    }
    button{
        width: 4rem;
        background-color: #1f2535;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        margin-top: 1rem;
        padding: 5px;
    }
}